<section id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">About me</h2>
              <hr class="primary">
                <p><img src="img/aarne.jpg" align="middle" width="300"></p>
                  <p class="text-muted">
                    I am a computational linguist and a language technology researcher with expertise in language understanding, reasoning, and large language models (LLM). Currently, I hold the position of Visiting Scholar in Language Technology at the University of Helsinki. In addition to my academic role, I serve as a Data and AI Senior Manager at Accenture, where I leverage my 20 years of experience in research, software engineering, consulting, and leadership to help organisations with genrative AI. I'm also the founder of an independent AI research lab Basement AI.</p>
                    <p class="text-muted">My research primarily centres around natural language understanding, reasoning, and natural language inference, employing machine learning techniques to address these challenges. I am particularly fascinated by the intricacies of language comprehension, the development of AI models to represent it, and the methodologies for evaluating these models.</p>
                    <p class="text-muted">Throughout my career, I have made significant contributions to the field of natural language processing and language technology. Notably, I have developed production-grade machine learning models that have had a substantial impact, being employed by millions of end users in diverse applications such as machine translation, speech recognition, and natural language understanding. These real-world applications have allowed me to bridge the gap between research and practical, scalable solutions.</p>
                    <p class="text-muted">My educational background includes an MSc in Computational Linguistics and Formal Grammar from King's College London, which I completed in 2007, and a BSc in Philosophy from the London School of Economics, obtained in 2005. I have recently completed my Ph.D., with my dissertation defence scheduled for 23rd February 2024.</p>
          </div>
    <div class="col-lg-8 col-lg-offset-2 text-center">
              <a href="#contact" class="btn btn-primary btn-xl page-scroll">Contact me!</a>
    </div>
      </div>
  </div>
</section>
